/*/
   COLOR Y ESTILO
/*/

:root {
    --dark-color: #1a1a1a;
    --white-color:white;
    --light-grey-color: #581a1a;
    --gold-color: #d18400;
}


form {
    border: 3px solid #f1f1f1;
  }
  
 
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  body {
    font-family: 'Titillium Web', sans-serif;
}

   
  input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
 

  button:hover {
    opacity: 0.8;
  }
  

  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #1f4b00;
  }
  

  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  

  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
 
  .container {
    padding: 16px;
  }
  

  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }

    .logo-brand {
      max-width: 180px;
      min-width: 160px;
  }
  #hero {
    background-image: url('ASYS\ U/210105.jpg');
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    color: var(--white-color);
}